h1 {
  margin: 0;
  text-align: center;
  font-size: 150px;
}
img .container{
    margin-left: auto;
    margin-right: auto;
}
.container div {
  display: inline-block;
  display: none;
  position: absolute;

}
.roo {
  display: inline-block;
}
