h1 {
  margin: 0;
  text-align: center;
  font-size: 150px;
}
.container img {
  display: block;
  width: 900px;
  height: 600px;
}
.container {
  width: 900px;
  margin: auto;
}
.container div {
  display: inline-block;
  display: none;
}
.roo {
  display: inline-block;
}
