<%= javascript_include_tag 'bands' %>

<header id="page header">
  <h1>Bands</h1>
</header>

<div id="library">

  <div class="instructions">
    <p>Click on a band or search for a band to get more information:</p>
  </div>

  <form class="search">
    <input type="text" placeholder="Find a band!">
  </form>

  <div class="add-band">
    <p>Not seeing the band you're interested in?</p>
    <%= link_to "Add a Band", new_band_path, :id => "new-band" %>
  </div>

  <div id="bandDetail"></div>

  <div id="searched-band-list"></div>

  <div id="band-list"></div>

</div>
