<%= javascript_include_tag 'bands', 'data-turbolinks-track' => true %>

<header id="page header">
  <h1>Bands</h1>
</header>

<div class="instructions">
  <p>Click on a band or search for a band to get more information:</p>
</div>

<div class="search">
  <input type="text">
</div>

<div class="add-band">
  <button id="new-band">Add a Band</button>
</div>

<div id="bandDetail"></div>

<div id="library"></div>
