<div class="band-info">
  <p>
    {{name}}
  </p>
  <ul>
    Appearing at:
    {{#each festivals}}
    <li>
      {{ this.name }}
    </li>
    {{else}}
    <li class="empty">Nowhere yet!</li>
    {{/each}}
    <button class="add_fest">Add a festival</button>
  </ul>
</div>
