<%= javascript_include_tag 'festivals' %>

<header id="page header">
  <h1>Festivals</h1>
</header>

<div id="library">

  <div class="instructions">
    <p>Click on a festival or search for a festival to get more information:</p>
  </div>

  <!-- <form class="search">
    <input type="text" placeholder="Find a festival!">
  </form> -->

  <div class="add-festival">
    <p>Want to add a festival?</p>
    <%= link_to "Add a Festival", new_festival_path, :id => "new-festival" %>
  </div>

  <div id="festivalDetail"></div>

  <div id="festival-list"></div>

</div>
