<%= javascript_include_tag 'festivals', 'data-turbolinks-track' => true %>

<header id="page header">
  <h1>Festivals</h1>
</header>

<div class="instructions">
  <p>Click on a festival or search for a festival to get more information:</p>
</div>

<div class="search">
  <input type="text">
</div>

<div class="add-festival">
  <button id="new-festival">Add a Festival</button>
</div>

<div id="festivalDetail"></div>

<div id="library"></div>
