$headerfont: 'Londrina Shadow', cursive;
$secondfont: 'Delius Unicase', cursive;
$smallfont: 'Actor', sans-serif;
$skyblue: rgba(226, 255, 255, 1);
$indigo: rgba(46, 46, 184, .80);
$white: rgba(255, 255, 250, 1);
$yellow: rgba(255, 214, 51, 1);
$red: rgba(255, 51, 0, 1);
$redSheer: rgba(255, 51, 0, .85);
$black: rgba(26, 26, 26, 1);

body {
  background-color: $skyblue;
  color: $black;
}
h1 {
  margin: 0;
  text-align: center;
  font-size: 75px;
  font-family: $headerfont;
  color: $yellow;
}
li {
  list-style: none;
}
.instructions {
  font-family: $smallfont;
  text-align: center;
}
.search {
  text-align: center;
}
.logo h1 {
  font-size: 150px;
  font-family: $headerfont;
  color: $red;
}
.container img {
  display: block;
  width: 900px;
  height: 600px;
}
.container {
  width: 900px;
  margin: auto;
}
.container div {
  // display: inline-block;
  display: none;
  &:first-child {
    display: inline-block;
  }
}

.roo {
  display: inline-block;
}
.nav {
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  background-color: $indigo;
  ul {
    height: auto;
    padding: 15px 0px;
    margin: 0px;
  }
  li {
    // list-style: none;
    display: inline;
    padding: 10px;
  }
  a {
    font-family: $secondfont;
    text-decoration: none;
    color: $white;
    padding: 15px;
  }
  a:hover {
    background-color: $yellow;
  }
}
#library {
  margin: 10px;
  text-align: center;
  input.reset {
    background-color: $indigo;
    font-family: $smallfont;
    color: $white;
    padding: 7px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    &:hover {
      background-color: $redSheer;
    }
  }
}
.band, .festival {
  font-family: $secondfont;
  width: 25%;
  margin: 10px;
  background: $redSheer;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: $white;
  display: inline-block;
  p {
    margin: 0;
  }
  p:hover {
    color: $indigo;
  }
}
.festival-info, .band-info {
  font-size: 18px;
  text-align: center;
  background-color: $yellow;
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
  font-family: $smallfont;
  p {
    margin: 0;
  }
  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}
.add-band, .add-festival {
  text-align: center;
  font-family: $smallfont;
  margin: 0 0 10px 0;
  a {
    margin: 0;
    font-size: 16px;
    font-family: $smallfont;
    padding: 10px;
    background-color: $indigo;
    color: $white;
    border-radius: 5px;
    text-decoration: none;
  &:hover {
    background-color: $yellow;
  }
  }
}
.band-form, .festival-form {
  font-family: $smallfont;
  margin: 5px;
}
.band-form-button, .festival-form-button {
  input {
  background-color: $redSheer;
  font-family: $smallfont;
  border: none;
  font-size: 16px;
  color: $white;
  border-radius: 5px;
  &:hover {
    background-color: $yellow;
  }
  }
}
#map-canvas {
  width: 1000px;
  height: 700px;
  margin: auto;
}
.list_fests {
  margin: 0;
  padding: 0;
}
