$headerfont: 'Londrina Shadow', cursive;
$secondfont: 'Delius Unicase', cursive;
$smallfont: 'Actor', sans-serif;
$skyblue: rgba(226, 255, 255, 1);
$indigo: rgba(46, 46, 184, .7);
$white: rgba(255, 255, 250, 1);
$yellow: rgba(255, 214, 51, 1);
$red: rgba(255, 51, 0, 1);
$redSheer: rgba(255, 51, 0, .7);

body {
  background-color: $skyblue;
}
h1 {
  margin: 0;
  text-align: center;
  font-size: 75px;
  font-family: $headerfont;
  color: $yellow;
}
.instructions {
  font-family: $smallfont;
  text-align: center;
}
.search {
  text-align: center;
}
.logo h1 {
  font-size: 150px;
  font-family: $headerfont;
  color: $red;
}
.container img {
  display: block;
  width: 900px;
  height: 600px;
}
.container {
  width: 900px;
  margin: auto;
}
.container div {
  display: inline-block;
  // display: none;
}
.roo {
  display: inline-block;
}
.nav {
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
  background-color: $indigo;
  ul {
    height: auto;
    padding: 15px 0px;
    margin: 0px;
  }
  li {
    list-style: none;
    display: inline;
    padding: 10px;
  }
  a {
    font-family: $secondfont;
    text-decoration: none;
    color: $white;
    padding: 15px;
  }
  a:hover {
    background-color: $yellow;
  }
}
#library {
  margin: 10px;
  text-align: center;
}
.band, .festival {
  font-family: $secondfont;
  width: 25%;
  margin: 10px;
  background: $redSheer;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: $white;
  display: inline-block;
  p {
    margin: 0;
  }
  p:hover {
    color: $indigo;
  }
}
.festival-info, .band-info {
  font-size: 18px;
  text-align: center;
  background-color: $yellow;
  width: 60%;
  margin: 10px auto;
  border-radius: 10px;
  font-family: $smallfont;
  p {
    margin: 0;
  }
}
.add-band, .add-festival {
  text-align: center;
  button {
    margin: 15px 10px 0 10px;
    font-family: $smallfont;
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: $indigo;
    color: $white;
    border-radius: 5px;
  }
}
